body {
	background: #2c3e50;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

a { color:#1176b6; }
a:hover { text-decoration: underline; }

/* --- --- HEADER --- --- */
header {
	background-color:#303990;
	padding: 10px 0;

}

header .logo img {
	height: 50px;
}

/* BUSCAR */
header .buscar form input[type="text"] {
	margin-top: 20px;
	width: 100%;
	background: #fff;
	border: none;
	font-size: 12px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	border-radius: 3px 0 0 3px;
	color: #6d6d6d;
	font-family: 'Open Sans', sans-serif;
}

header .buscar form button {
  margin-top: 20px;
	width: 100%;
	background: #fff;
	border: none;
	font-size: 12px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	color: #6d6d6d;
}

header .buscar form button:hover {

	background: grey;
	color: #fff;
}


header{
	padding-top:0;
	margin-top: 0;
}
#separador{ 
	height:10px;  
	background-color:#0a055aad; 
  }
 
section {
	margin-top: 20px;
}

section .box-col {
	margin-left:20px;
	margin-right: 20px;
	background: #f2f2f2;
    text-align: center;
    padding: 10px;
	border: 1px solid #4d5061;
}
section .box-col .titulo {
	height: 30px;
}
section .box-col .descripcion{
	margin-top:5px;
}
section .box-col .foto img{
	width: 100%;
}
section .box-col .foto a {
	width: 100px;
	height: 100px;
	display: inline-block;
	overflow: hidden;
	border-radius: 50px;
	margin-top: 20px;
}

section .box-col:hover{
	-webkit-transform:scale(1.1);
	-webkit-transition:-webkit-transform 0.8s ease 0.1s; /*0.6 dura el efecto 0.5 tarda en arranca*/
 }
