
.icon-database:before { content: '\e800'; } /* '' */
.icon-android:before { content: '\e801'; } /* '' */
.icon-flow-merge:before { content: '\e802'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */